<p id="notice"><%= notice %></p>

<div style="text-align:center">
<img src="<%= @image.photo.url(:original) %>" style="max-width:640px; border: 2px solid #000; border-radius: 5px;"/>

</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
